.app {
  /*height: 100px;*/
  width: 300px;
  padding: 25px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);

  position: absolute;
  top: 50%;
  left: 50%;
  margin: -220px 0 0 -170px;

  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
}

.app__header {

}

.app__content {

}